.window {
    max-height: 100vh;
    border: var(--w98-border);
    border-color: var(--w98-border-color);
    box-shadow: inset 1px 1px white;
    background-color: var(--w98-light-gray);
    padding: var(--w98-card-padding);
    position: relative;
}

.window:focus {
    border-color: black;
    border-style: dotted;
}

.window--minimizing {
    position: fixed;
    animation: minimize 1s ease-in;
}

.window--maximizing {
    position: relative;
    animation: minimize 1s ease-in;
}

.window--minimized {
    height: .5em;
    width: 4em;
    position: fixed;
    bottom: -2em;
    left: 6em;
}

.titleBar {
    background-color: var(--w98-bluescreen-blue);
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1.25em;
}

.titleBar.titleBar--inactive {
    opacity: .8;
    background-color: var(--w98-darkest-gray);
    color: var(--w98-bg-gray);
}

.titleBar__left {
    margin-left: .2em;
}

.titleBar__left h1 {
    line-height: 2;
    display: inline-block;
    margin-left: .1em;
    font-family: var(--w98-font-family-default);
    font-weight: bold;
    letter-spacing: var(--w98-font-family-close);
}

.titleBar__right {
    margin: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.titleBar__right button {
    margin: 1px;
    border-width: 2px;
    border-right-color: var(--w98-darkest-gray);
    border-bottom-color: var(--w98-darkest-gray);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0 .35em;
    cursor: pointer;
}

.titleBar__right button:disabled {
    padding: 0.07em 0.4em;
    cursor: not-allowed;
    margin-bottom: 2px;
}

.titleBar__right button.--minimize {
    font-size: 1.25rem;
}

.optionsBar {
    height: fit-content;
    display: flex;
    background-color: transparent;
}

.optionButton__wrapper {
    position: relative;
    margin-top: 2px;
    margin-left: 2px;
}

.optionButton {
    align-self: flex-start;
    position: relative;
    z-index: 4;
    border: 1px solid transparent;
    border-bottom: none;
    box-shadow: none;
    padding: .25em 1em;
    background-color: transparent;
    line-height: 1.5em;
    font-size: var(--w98-font-size);
    text-align: center;
    cursor: pointer;
}

.optionButton:first-letter {
    text-decoration: underline;
}

.optionButton:hover {
    background-color: white;
    border-color: var(--w98-darkest-gray)
}

.optionButton.optionButton--clicked {
    border-color: black;
    box-shadow: none;
    background-color: #0000aa;
    background-image: none;
    color: white;
}

.overlay {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(134, 138, 142, 0.4);
}

.dropdown {
    position: absolute;
    z-index: 5;
    top: 1.8em;
    left: 0;
    background-color: white;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    animation: dropdown 0.4s ease-in;
}

.dropdown--open {
    animation: slideup 0.4s ease-in;
}

.dropdown__section {
    border-bottom: 1px solid black;
    animation: delayRender 0.4s ease-in;
}

.dropdown__section a {
    text-decoration: none;
    color: black;
}

.dropdown__section li {
    padding: .2em 1.5em;
}

.dropdown__section li.--comingSoon {
    color: var(--w98-darkest-gray)
}

.dropdown__section li:first-letter, li.--secondaryLetter>span {
    text-decoration: underline;
}

.dropdown__section li.--secondaryLetter:first-letter {
    text-decoration: none;
}

.dropdown__section li:hover {
    cursor: pointer;
    background-color: #0000aa;
    color: white;
}

.dropdown__section li.--comingSoon:hover {
    cursor: not-allowed;
    background-color: var(--w98-light-gray);
    color: black;
}

.dropdown__section li.--selected {
    padding-left: .5em;
}

li.--selected:before {
    content: '\2713';
    display: inline-block;
    margin-right: .2em;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}

@keyframes dropdown {
    from {
        max-height: 0;
    }

    to {
        max-height: 100vh;
    }
}

@keyframes delayRender {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slideup {
    from {
        max-height: 100vh;
    }

    to {
        max-height: 0;
    }
}

.overlay_hide {
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -1em;
    border: var(--w98-border);
    border-color: var(--w98-border-color);
    box-shadow: inset 1px 1px white;
    background-color: var(--w98-light-gray);
    padding: var(--w98-card-padding);
}

.modal:focus {
    border-color: black;
    border-style: dotted;
}

#modal__title {
    margin-left: 1em;
    margin-right: 5em;
    line-height: 2;
}

.modal__contentWrapper {
    box-shadow: var(--w98-box-shadow-dip);
    padding: 2px;
    margin: 2px;
}

.modal__text {
    background-color: white;
    padding: 1em;
}

.modal__text h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.modal__text h3 {
    font-size: 1.1em;
    font-weight: bold;
}

.modal__text p {
    padding: .25em 0;
}

.modal__button {
    align-self: center;
    margin: .1em;
    padding: 0;
    font-size: 1.25em;
}

.modal__button span {
    display: inline-block;
    margin: .25em;
    border: 1px dotted black;
    border-radius: 2px;
    padding: .25em 1.75em;
}

@keyframes minimize {
    from {
        position: relative;
        height: fit-content;
        width: fit-content;
    }

    to {
        height: .5em;
        width: 4em;
        position: fixed;
        bottom: -2em;
        left: 6em;
    }
}

@keyframes maximize {
    from {
        height: .5em;
        width: 4em;
        position: fixed;
        bottom: -2em;
        left: 6em;
    }

    to {
        position: relative;
        height: fit-content;
        width: fit-content;
    }
}